* {
	margin: 0;
	padding: 0;
}

body {
	background: #E6E6E6;
	font-family: Tahoma, sans-serif;
}

h2 {
	color: #F7B700;
}

h4 {
	color: #4F4E4C;
	background: #CCCCCC;
	padding: 10px;
	margin-bottom: 5px;
}

a:link, a:visited{
	color: #F7B700;
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}

hr {
	border: 1px solid #EEEEEE;
	margin: 10px 0px;
}

#cabecalho {
	background: #F7B700;
	text-align: center;
	padding: 20px;
}

#logo {
	display: block;
	padding: 20px;
	margin-bottom: 10px;
	color: #4F4E4C;
	font-size: 2.5em;
	font-weight: bold;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}

#menu {
	a:link, visited{
		text-decoration-line: none;
		color: white;
		padding: 10px;
		margin: 10px;
	}
	a:hover {
		background: white;
		color: #F7B700;
	}
}

#corpo {
	width: 920px;
	margin: auto;
}

#coluna_principal {
	width: 695px;
	img {
		width: 635px;
	}
}

#coluna_lateral {
	float: right;
	position: relative;
	top:-15px;
	width: 240px;
}

#rodape {
	background: #CCCCCC;
	color: #4F4E4C;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	padding: 15px;
	margin: 15px;
}

.branco {
	color: white;
}

.postagem {
	margin: 15px;
	background: white;
	padding: 15px;
}

.texto_pequeno {
	font-size: 0.8em;
	margin: 5px 0px;
}